.play{
 background-image:url('https://images.pexels.com/photos/5340/red-blue-bricks-pattern.jpg?auto=compress&cs=tinysrgb&w=600&lazy=load');
padding:100px;
background-repeat: no-repeat;
background-position: bottom ;
background-size: cover ;
color: darkturquoise;
background-color: brown;
}
